
  <table id="gametable">
    <tr>
      <td><%=@game_state[0]%></td>
      <td><%=@game_state[1]%></td>
      <td><%=@game_state[2]%></td>
    </tr>
    <tr>
      <td><%=@game_state[3]%></td>
      <td><%=@game_state[4]%></td>
      <td><%=@game_state[5]%></td>
    </tr>
     <tr>
      <td><%=@game_state[6]%></td>
      <td><%=@game_state[7]%></td>
      <td><%=@game_state[8]%></td>
    </tr>
  </table>